
a{
	text-decoration: none;
}

header{
	width: 100%;
	display: flex;
	background: #99994d;
}
nav{
	font-weight: 900px;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 16%;
	height: 37px;
}
.topnav a{
    color: #fff;
	text-align: center;
	padding: 2px 70px;
}
.topnav a:hover{
	border-bottom: 3px solid #000;
}
   form{
	   		text-align: center;
	    	}
	   	button{
	   	    padding: 15px 2px;
	   		font-family: sans-serif;
	   		text-transform: uppercase;
	   		background-color: #06c927;
	   		color: #fff;
	   		border-radius: 15px;
	    	}
	   	button:hover {
           color: red;
	    	}
	     select{
	        width: 180px;
	     	height: 24px;
	     }
	     .hh{
	     	background-color: #000;
	     }
	     h3{
	     	background-color: #3a6070;
	     	color: #fff;
	     	width: 180px;
	     	margin-left: 588px;
	     }