  body{
	font-family: Tahoma,sans-serif;
	font-size: 17px;
	padding: 0;
	margin: 0;
	color: #000;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	background: #fdcd3a;
	padding: 75px 0 311px 0;
}
.logo{
	background: #000;
	width: 64px;
	height: 64px;
	color: #fff;
	font-size: 22px;
	border-radius: 50%;
	text-align:center;
	line-height: 64px;
	margin: 0 auto;
}
.offer{
	text-align: center;
	margin-top: 280px;
}

.title{
	font-size: 29px;
	font-weight: bold;
}
.might{
	background: #000;
	color: #fff;
	padding: 92px 0 0 0;
}
.cection-title{
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}
.stack{
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
}

.item{
	width: 287px;
	height: 283px;
	background: #fff;
	border-radius: 50px;
	margin: 50px;

}
