a{
	text-decoration: none;
}
.menu {
    overflow: hidden;
    background-color: #99994d;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
 
.menu a {
    float: left;
    color: #fff;
	font-size: 20px;
	margin-top: 16px;
	margin-left: 15%;
	height: 35px;
}
.menu a{
    color: #fff;
}
.menu a:hover{
	border-bottom: 3px solid #fff;
}
   form{
	   		text-align: center;
	    	}
	   	button{
	   	    padding: 17px 2px;
	   		font-family: sans-serif;
	   		text-transform: uppercase;
	   		background-color: #06c927;
	   		color: #fff;
	   		border-radius: 15px;
	    	}
	   	button:hover {
           color: red;
	    	}
	     select{
	        width: 180px;
	     	height: 24px;
	     }
	     .hh{
	     	background-color: #000;
	     }
	     h3{
	     	background-color: #3a6070;
	     	color: #fff;
	     	width: 180px;
	     	margin-left: 580px;
	     }

	     .menu {
    overflow: hidden;
    background-color: #99994d;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
 
.menu a {
    float: left;
    color: #fff;
	font-size: 20px;
	margin-top: 16px;
	margin-left: 15%;
	height: 35px;
}
 