*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	background: red;
	display: flex;
}
.header__logo{
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	margin-top: 56px;
	margin-left: 12%;
}
nav{
	font-weight: 500;
	font-size: 20px;
	margin-top: 110px;
	margin-left: 12%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 50px;
}
.topnav a:hover{
	border-bottom: 3px solid red ;
}
